{# Expects: areaLat, areaLng #}
<div class="modal fade" id="modalWeather" tabindex="-1" aria-labelledby="modalWeatherLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header py-2">
				<h2 class="modal-title h6 mb-0" id="modalWeatherLabel">Wetter</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
			</div>
			<div class="modal-body">
				<div class="card py-2 card-body border-0 shadow-none">
					<div {{ stimulus_controller('weather') }} data-weather-area-lat="{{ areaLat }}" data-weather-area-lng="{{ areaLng }}">
						<div class="current-weather d-flex align-items-center">
							<div class="icon icon-weather"></div>
							<div id="temperature"></div>
						</div>
						<div class="forecast row">
							<div class="day col-3 card card-body m-2">
								<div class="forecast-text"></div>
								<div class="d-flex align-items-center">
									<div class="icon icon-weather"></div>
									<div class="temp"></div>
								</div>
							</div>
							<div class="day col-3 card card-body m-2">
								<div class="forecast-text"></div>
								<div class="d-flex align-items-center">
									<div class="icon icon-weather"></div>
									<div class="temp"></div>
								</div>
							</div>
							<div class="day col-3 card card-body m-2">
								<div class="forecast-text"></div>
								<div class="d-flex align-items-center">
									<div class="icon icon-weather"></div>
									<div class="temp"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
