{# Expects: areaName #}
<div class="modal fade" id="modalAreaMap" tabindex="-1" aria-labelledby="modalAreaMapLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
		<div class="modal-content h-100 d-flex flex-column">
			<div class="modal-header py-2 flex-shrink-0">
				<h2 class="modal-title h6 mb-0" id="modalAreaMapLabel">Übersichtskarte {{ areaName }}</h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Schließen"></button>
			</div>
			<div class="modal-body p-0 flex-grow-1 min-h-0 d-flex flex-column">
				<div id="areaMap" class="z-10 flex-grow-1 min-h-0">
					{{ include('components/map/area-map.html.twig') }}
				</div>
			</div>
		</div>
	</div>
</div>
