{# Shared modal for route information — used with stimulus modal-route-information #}
<div id="sharedRouteModal" class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="sharedRouteModalTitle" data-modal-route-information-target="modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="h6 modal-title stay-black" data-modal-route-information-target="title"></h2>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body" data-modal-route-information-target="content">
			</div>
		</div>
	</div>
</div>
