{% set currentDate =  "now"|date("z") %}
{% if currentDate < 181 %}
	<div class="card">
		<h3 class="text-white fs-5 fw-light px-3 py-2 mb-2 rounded-top bg-danger">Aktuelle Sperrungen</h3>
		<ul class="list-unstyled">
			{% for bannedRock in banned %}
				<li class="px-3 mb-2 hover:bg-gray-300" style="line-height: 1.3rem;">
					<a class="fs-6 text-truncate block" href="{{ path('show_rock', { 'areaSlug': bannedRock.areaSlug, slug: bannedRock.slug }) }}">
						<span class="d-inline-block me-2 list-item-icon"></span>
						<span class="fw-normal pr-2">{{ bannedRock.name }}</span>
						<span class="fw-light d-block ms-2 text-truncate" style="padding-left: 12px; color: rgba(0,0,0,.6);">{{ bannedRock.areaName }}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endif %}
