<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#{{ collapseId }}" aria-label="Zeige Karte" aria-expanded="false" aria-controls="{{ ariaControls }}">
	<div class="map"></div>
</button>
