<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#{{ modalId }}" aria-label="{{ ariaLabel|default('Zeige Karte') }}">
	<span class="map" aria-hidden="true"></span>
</button>
