{% set url = 'https://www.munichclimbs.de/uploads/areas/' %}
{% set marker = [] %}
{% for area in getAreasInformation() %}
    {% set popupBody = include('partials/_areaCardBody.html.twig', { area: area, ulClass: 'mt-2' }) %}
    {% set areaName = '<div class="main-map-popup-card">' ~
        '<div class="main-map-popup-image-wrap">' ~
        '<picture><source srcset="' ~ url ~ area.image ~ '@1x.webp 1x, ' ~ url ~ area.image ~ '@2x.webp 2x, ' ~ url ~ area.image ~ '@3x.webp 3x" type="image/webp">' ~
        '<img class="main-map-popup-image" src="' ~ url ~ area.image ~ '.webp" alt="Klettergebiet ' ~ area.name|e('html_attr') ~ '" loading="lazy" decoding="async">' ~
        '</picture>' ~
        '<div class="main-map-popup-header">' ~
        '<a href="' ~ path('show_rocks', { slug: area.slug }) ~ '" class="main-map-popup-link">' ~ area.name ~ '</a>' ~
        '<button type="button" class="main-map-popup-close" onclick="this.closest(\'.leaflet-popup\').querySelector(\'.leaflet-popup-close-button\').click()" aria-label="Schließen"><span>&times;</span></button>' ~
        '</div></div>' ~
        '<div class="main-map-popup-body">' ~ popupBody ~ '</div></div>' %}
    {% set areaImage = '' %}
    {% set marker = marker|merge([[ area.lat, area.lng, areaName, areaImage ]]) %}
{% endfor %}

<div 
    class="h-100 main-map-container"
    data-controller="main-map" 
    data-main-map-markers-value="{{ marker|json_encode|e('html_attr') }}"
>
    <div class="h-100" style="min-height: 500px;" data-main-map-target="map"></div>
</div>
