<div id="kletterkonzeptionModal" class="modal fade" tabindex="-1" aria-hidden="true" aria-labelledby="kletterkonzeptionModalLabel" data-modal-route-information-target="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="kletterkonzeptionModalLabel">Kletterkonzeption - {{ areaName }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="kletterkonzeption-content small">
					{{ areaKletterkonzeption|raw }}
				</div>
			</div>
		</div>
	</div>
</div>
