<div class="main-map-popup-card main-map-popup-card--text-only">
	<div class="main-map-popup-body">
		<h3 class="fs-6 mb-2">Campingplatz {{ name }}</h3>
		{% if link %}
			<a href="{{ link }}" target="_blank" rel="noopener noreferrer">{{ link }}</a>
		{% endif %}
	</div>
</div>
