{# Online / offline: icon-only (Area + Rock use this template). Values may be int or string from ChoiceField. #}
{% set v = field.value %}
{% if v in [0, '0', false] %}
	<span class="d-inline-flex align-items-center justify-content-center text-danger" title="Offline" aria-label="Offline">
		<i class="fa fa-times fa-lg" aria-hidden="true"></i>
	</span>
{% elseif v in [1, '1', true] %}
	<span class="d-inline-flex align-items-center justify-content-center text-success" title="Online" aria-label="Online">
		<i class="fa fa-check fa-lg" aria-hidden="true"></i>
	</span>
{% endif %}