<div id="rockMap" class="rock-ux-map-wrap z-10 mb-3 h-full w-full min-h-[200px]" data-controller="rock-accordion-map">
	{{ ux_map(rockTopoMap, {
		class: 'z-10 h-full w-full',
		style: 'min-height:200px;aspect-ratio:16/16',
	}) }}
</div>
