{% set marker = [] %}
{% for rock in rocks %}
	{% set rockLink = app.request.locale == 'en'
		? path('show_rock_en', { areaSlug: areaSlug, slug: slug })
		: path('show_rock', { areaSlug: areaSlug, slug: slug }) %}
	{% set mapPopupHtml %}
		{% include 'components/map/rock-map-popup.html.twig' with {
			rock: rock,
			areaName: areaName,
			rockLink: rockLink,
			map_compact: true,
			show_chart: false,
			popupBody: ''
		} only %}
	{% endset %}
	{% set mapPopupHtml = mapPopupHtml|trim %}
	{% set marker = marker|merge([ rock.rockLat, rock.rockLng, rock.pathCoordinates, mapPopupHtml, rock.rockZoom ]) %}
{% endfor %}

<div
	id="rockMap"
	class="z-10 mb-3 w-full min-h-[12rem]"
	style="aspect-ratio: 16/16;"
	data-controller="rock-map"
	data-rock-map-payload="{{ marker|json_encode|e('html_attr') }}"
>
	<style>
		.leaflet-popup-tip {
			height: 0;
		}
		/* Leaflet 1.9 defaults use inner <span>+</span>; global/Tailwind styles can make glyph + label read as “double”. Plain-text control + system font avoids duplicate-looking icons. */
		#rockMap .leaflet-control-zoom-in,
		#rockMap .leaflet-control-zoom-out {
			font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
			font-weight: 600;
			font-size: 18px;
			line-height: 26px;
			text-indent: 0;
		}
		#rockMap.leaflet-touch .leaflet-control-zoom-in,
		#rockMap.leaflet-touch .leaflet-control-zoom-out {
			font-size: 22px;
			line-height: 30px;
			height: 30px;
			width: 30px;
		}
	</style>
</div>
