<div class="mt-auto">
	{% set chart_aria_prefix = aria_label_prefix|default(
		(area.name is defined and area.name is not empty) ? ('Klettergebiet ' ~ area.name ~ '. ') : ''
	) %}
	{{ include('components/grade-distribution-chart.html.twig', {
		grade_chart_source: area,
		route_count: area.routes|default(0),
		aria_label_prefix: chart_aria_prefix,
		wrapper_class: 'max-w-full justify-start',
		include_projects_column: true,
		project_count: area.amountProjects|default(0),
		chart_summary_include_rocks: chart_summary_include_rocks|default(false),
		chart_rocks_count: area.rocks|default(0)
	}) }}
</div>