{# @block content The clickable link text and/or icon #}
<a
    class="{{ ('transition-colors hover:underline ' ~ attributes.render('class'))|tailwind_merge }}"
    {{ attributes.defaults({
        'data-slot': 'breadcrumb-link',
    }).without('class') }}
>
    {%- block content %}{% endblock -%}
</a>
