.container {
    max-width: 1024px;
}

.text-primary {
    color: rgb(7 89 133) !important;
}

.text-danger {
    color: #b91c1c !important;
}

.text-warning {
    color: rgb(161 98 7) !important;
}

.nav-pills.menu-sidebar .nav-link.active,
.nav-pills.menu-sidebar .show>.nav-link {
    color: rgb(7 89 133) !important;
    border-left: 0.125rem solid rgb(7 89 133) !important;
}

.background-image-height {
    height: 200px;
}

@media (max-width: 575.98px) {
    .background-image-height {
        height: 120px;
    }
}

