{# @block content Region shown when the collapsible is open #}
<div
	class="{{ ('hidden flex items-center gap-2 ' ~ attributes.render('class'))|tailwind_merge }}"
	{{ attributes.defaults({
		'data-slot': 'collapsible-content',
		'data-collapsible-target': 'content',
		hidden: true,
	}) }}
>
	{%- block content %}{% endblock -%}
</div>
