<p>
	<span class="font-semibold text-gray-900 dark:text-gray-100">Copyright:</span><br>
	© 2013 munichclimbs.com<br>
	All rights reserved.
</p>
<p>Responsible for content:</p>
<p>
	Bernd Ullmann<br>
	Petra-Kelly-Str. 29<br>
	80797 Munich, Germany<br>
	<a href="mailto:admin@munichclimbs.de" class="text-sky-700 underline-offset-2 hover:underline dark:text-sky-400">admin@munichclimbs.de</a>
</p>
<p>
	Concept and design:<br>
	Bernd Ullmann
</p>
<p>
	Technical implementation:<br>
	Bernd Ullmann | <a href="https://www.berndullmann.de" class="text-sky-700 underline-offset-2 hover:underline dark:text-sky-400" rel="noopener noreferrer">www.berndullmann.de</a>
</p>
<hr class="my-8 border-0 border-t border-gray-200 dark:border-gray-700"/>
<h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100">Important notice</h2>
<p class="text-gray-700 dark:text-gray-300">
	Climbing involves significant risk; mistakes can lead to serious injury or death.
	<br>
	Information on www.munichclimbs.de is researched carefully, but errors and omissions cannot be fully ruled out.
	<br>
	All information is provided without warranty. We accept no liability for damage arising from the use of published content.<br>
	www.munichclimbs.de is a voluntary, non-commercial information service about climbing areas around Munich.
</p>
