{% extends 'base.html.twig' %}

{% block title %}Klettergebiete um München
{% endblock %}

{% block body %}
	{{ include('components/layout/navigation.html.twig') }}
	<main id="main-content">
		<div class="container my-3">
			<section>
				<div class="py-3 mb-3 d-flex align-items-center justify-content-between">
					<h1 class="h2 mb-0 fw-medium">Neuste Routen</h1>
				</div>
				{{ include('components/page/latest-routes-page-table.html.twig', { latestRoutes: latestRoutes }) }}
			</section>
		</div>
	</main>
{% endblock %}
