{# Local Shadcn-style Collapsible (Symfony UX Shadcn kit pattern: https://ux.symfony.com/toolkit/kits/shadcn/components/collapsible ). #}
{# @prop open boolean Whether the panel is open on first paint. Defaults to `false` #}
{# @block content Typically `Collapsible:Trigger` and `Collapsible:Content` #}
{%- props open = false -%}
<div
	class="{{ attributes.render('class')|tailwind_merge }}"
	{{ attributes.defaults({
		'data-slot': 'collapsible',
		'data-controller': 'collapsible',
		'data-collapsible-open-value': open ? 'true' : 'false',
	}) }}
>
	{%- block content %}{% endblock -%}
</div>
